//像素转vw方法
@function vw($number) {
  @return ($number / 375 * 100) + vw;
}

@mixin set_input_placeholder($color: #D8D8D8) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &::placeholder {
		color: $color;
	}
}

@mixin half_border_bottom($color: #dbdbdb) {
  position: relative;
  &::after {
    left: 0;
    bottom: 0;
    z-index: 1;
    content: '';
    width: 100%;
    display: block;
    position: absolute;
    pointer-events: none;
    box-sizing: border-box;
    transform: scale(1, .5);
    transform-origin: 0 100%;
    border-bottom: 1px solid $color;
  }
}

@mixin half_border_top($color: #dbdbdb) {
  position: relative;
  &::before {
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    display: block;
    position: absolute;
    transform-origin: 0 0;
    box-sizing: border-box;
    transform: scale(1, .5);
    border-top: 1px solid $color;
  }
}

@mixin half_border_left($color: #dbdbdb) {
  position: relative;
  &::before {
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    display: block;
    position: absolute;
    transform-origin: 0 0;
    box-sizing: border-box;
    transform: scale(.5, 1);
    border-left: 1px solid $color;
  }
}

@mixin half_border_right($color: #dbdbdb) {
  position: relative;
  &::after {
    top: 0;
    right: 0;
    content: '';
    height: 100%;
    display: block;
    position: absolute;
    box-sizing: border-box;
    transform: scale(.5, 1);
    transform-origin: 100% 0;
    border-right: 1px solid $color;
  }
}

@mixin half_border($color: #dbdbdb, $radius: 0) {
  position: relative;
  &::before {
    top: 0;
    left: 0;
    z-index: 1;
    content: '';
    width: 200%;
    height: 200%;
    display: block;
    position: absolute;
    pointer-events: none;
    transform-origin: 0 0;
    box-sizing: border-box;
    transform: scale(.5, .5);
    border: 1px solid $color;
    border-radius: $radius;
  }
}
